* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

img {
  width: 50%;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

#logo {
  background-image: url('./assests/new.jpg');
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.like-button {
  margin-left: 80px;
  margin-top: 10px;
}

.popup-container {
  color: #333;
  height: 90%;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow-y: auto;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-close {
  align-self: flex-end;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-close:hover {
  background-color: gray;
  color: #333;
}

.comments-section {
  margin-top: 10px;
}

.comment-counter {
  text-align: center;
  font-size: 25px;
}

.comments-section div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.submit-button:hover {
  background-color: gray;
  color: #333;
}

.comment-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  gap: 12px;
}

textarea {
  border: none;
  padding: 2%;
  border-radius: 5px;
}

.comment {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #333;
}

.comment-name {
  font-size: 25px;
  color: #333;
}

.Movie-name {
  font-size: 25px;
}

.item img {
  border-radius: 10px;
  width: 250px;
}

.div-title i {
  font-size: 1.2em;
}

.div-title i:hover {
  cursor: pointer;
}

.items-buttons button {
  padding: 10px 20px;
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.items-buttons button:hover {
  cursor: pointer;
}

#items-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 50px;
}

.items-container,
.items-buttons {
  display: flex;
  flex-direction: column;
}

.div-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.items-buttons {
  align-items: center;
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  #items-container {
    grid-template-columns: repeat(3, 30%);
  }
}

@media only screen and (max-width: 1024px) {
  #items-container {
    grid-template-columns: repeat(2, 45%);
  }
}

@media only screen and (max-width: 680px) {
  #items-container {
    grid-template-columns: repeat(1, 90%);
  }
}

body {
  background: linear-gradient(60deg, #808080 20%, #555 40%, #111 60%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: white;
}

.comment-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #e0e0e0;
}

#reserve-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#reserve-button:hover {
  background-color: #e0e0e0;
}

.animation-heart {
  animation-name: shape;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  color: rgb(3, 168, 173);
}

@keyframes shape {
  from {
    color: white;
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    color: rgb(3, 168, 173);
    transform: scale(1);
  }
}
